<ion-header>
  <ion-toolbar>
    <ion-title slot="end" size="large">
      <ion-icon name="people-outline"></ion-icon> 
      <ion-label>
        Users
      </ion-label>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
   <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title  color="primary" size="large">Users</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list *ngIf="!showing">
    <ion-item *ngFor="let user of users" lines="none" >
      <ion-label slot="start">
        {{user.name}} 
      </ion-label>
      <ion-buttons slot="end" collapse="true">
        <ion-button color="secondary" *ngIf="user.role==666">
          <ion-icon slot="icon-only" name="glasses" size="large"></ion-icon>
        </ion-button>
        <ion-button color="light" size="small" (click)="selectedUser = user; showing = true">
          <ion-icon slot="icon-only" name="person-outline"></ion-icon>
        </ion-button>
        <ion-button color="danger" size="small" (click)="deleteUser(user)">
          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
  <ion-card *ngIf="showing" color="primary">
    <ion-card-header>
      <ion-card-title>{{selectedUser.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        email: {{selectedUser.email}} <br>
        role: {{selectedUser.role}}
      </p>
      <ion-button color="danger" slot="end" size="small" (click)="showing = false">
        Go Back
      </ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>
