<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Registrarme
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Registrarme</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- register form -->
  <form class="container" (ngSubmit)="signin(form)" #form="ngForm" *ngIf="!isLogin">
    <ion-card>
      <ion-card-header>
       <ion-card-title>Register</ion-card-title>
       <ion-card-subtitle>YT-Downloader Account</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-button color="tertiary" size="default" (click)="save(img)">
              <ion-icon name="duplicate-outline"></ion-icon>
              <ion-label>Unpload Profile</ion-label>
            </ion-button>
            <ion-label  class="is-mobile">{{data.file && data.file.name? 'Selected' : 'Choose one'}}</ion-label>
            <input type="file" accept="image/*" style="display: none" (change)="onFileChanged($event)"  #img name="file">
          </ion-item> 
          <ion-item>
            <ion-label position="floating">Name</ion-label>
            <ion-input placeholder="Name" inputmode="text" required [(ngModel)]="data.name" name="name" minlength="2"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" inputmode="email" required placeholder="Email" [(ngModel)]="data.email" email name="email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" required placeholder="Password" [(ngModel)]="data.password" name="password" minlength="8"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Confirm Password</ion-label>
            <ion-input type="password" required placeholder="Confirm-Password" [(ngModel)]="data.cpassword" name="cpssword" minlength="8"></ion-input>
          </ion-item> 
          <ion-item>
            <ion-button slot="start" size="medium" color="tertiary" type="submit">
             <ion-label>Create Account</ion-label> 
            </ion-button>
            <ion-button slot="end" size="medium" color="tertiary" type="button" (click)="isLogin = true">
             <ion-label>Login</ion-label> 
            </ion-button>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </form>
  <!-- sign in form -->
  <form #formLogin="ngForm" (ngSubmit)="login(formLogin)" *ngIf="isLogin">
    <ion-card>
     <ion-card-header>
       <ion-card-title>Login</ion-card-title>
       <ion-card-subtitle>Login with YT-Downloader Account</ion-card-subtitle>
     </ion-card-header>
     <ion-card-content>
       <ion-list>
         <ion-item>
           <ion-label position="floating">Email</ion-label>
           <ion-input type="email" placeholder="email" [(ngModel)]="log.email" name="passsword" required></ion-input>
         </ion-item>
         <ion-item>
           <ion-label position="floating">Password</ion-label>
           <ion-input placeholder="Password" type="password" [(ngModel)]="log.password" name="password" required minlength="8" maxlength="8"></ion-input>
         </ion-item>
         <ion-item>
          <ion-button slot="start" color="tertiary" size="medium" type="submit" [disabled]="formLogin.invalid">
            <ion-label>Login</ion-label> 
          </ion-button>
          <ion-button slot="end" color="tertiary" size="medium" type="button" (click)="isLogin = false">
            <ion-label>Register</ion-label> 
          </ion-button>
         </ion-item>
         <!-- <ion-item>
          <ion-button color="primary" size="medium" (click)="loginG()" type="button" disabled>
            <ion-icon slot="start" name="logo-google"></ion-icon>
            <ion-label>Login</ion-label> 
          </ion-button>
         </ion-item> -->
       </ion-list>
     </ion-card-content>
    </ion-card>
  </form>
</ion-content>