<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Registrarme
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Registrarme</ion-title>
    </ion-toolbar>
  </ion-header>

   <ion-card>
    <ion-card-header>
      <ion-card-title>Crear Cuenta</ion-card-title>
      <ion-card-subtitle>Cuenta en YT-App</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-button size="default">
            <ion-icon name="duplicate-outline"></ion-icon>
            <ion-label>Unpload Profile</ion-label>
          </ion-button>
          <ion-label  class="is-mobile">Choose one</ion-label>
          <ion-input type="file" file #img style="display: none"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Name</ion-label>
          <ion-input placeholder="Name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input placeholder="email"></ion-input>
        </ion-item>
      </ion-list>
      <ion-button expand="block">
        <ion-label>Registrarme</ion-label> 
      </ion-button>
      <ion-button expand="block">
        <ion-icon name="logo-google"></ion-icon>
        <ion-label style="margin-left:20px;">Registar con Google</ion-label> 
      </ion-button>
    </ion-card-content>
   </ion-card>
</ion-content>