<ion-tabs>
  <ion-tab-bar slot="bottom" [translucent]="true">
    <ion-tab-button tab="download">
      <ion-icon name="download"></ion-icon>
      <ion-label>Download</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="player">
      <ion-icon name="play-circle-outline"></ion-icon>
      <ion-label>Play</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="account" *ngIf="authsv.isAuth">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Account</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="login" *ngIf="!authsv.isAuth">
      <ion-icon name="log-in-outline"></ion-icon>
      <ion-label>Sign in</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="users" *ngIf="authsv.isAuth && authsv.role == 666">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Users</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>


