.loading{
    margin: auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.center{
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    display: flex;
    justify-content: center;
}
.main-logo {
    max-width: 400px;
    margin: auto;
    text-align: center;
}
.main-logo > ion-img {
    max-width: 500px;
}
@media only screen and (max-width: 640px){
    ion-list {
        margin:0;
    }
    .main-logo{
        max-width: 200px;
    }
}
ion-alert{
    --background: white;
}