<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title slot="end" color="tertiary" size="large">
      <ion-icon name="cloud-download-outline"></ion-icon>
      <ion-label>
        Download
      </ion-label>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" color="tertiary">Downloader</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-item lines="input">
      <ion-label position="floating">Url</ion-label>
      <ion-input placeholder="youtube.com/watch?v=xxxxxxxxxxx" [(ngModel)]="url"></ion-input>
    </ion-item>
    <ion-item lines="input">
      <ion-label position="floating">Select media type</ion-label>
      <ion-select placeholder="Type" [(ngModel)]="type">
        <ion-select-option value="video">Video</ion-select-option>
        <ion-select-option value="audio">Audio</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="type=='video'" lines="input">
      <ion-label position="floating">Select your resolution</ion-label>
      <ion-select placeholder="Resolution" [(ngModel)]="resolution">
        <ion-select-option value="1080">1080p</ion-select-option>
        <ion-select-option value="720">720p</ion-select-option>
        <ion-select-option value="480">480p</ion-select-option>
        <ion-select-option value="360">360p</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item lines="none">
      <ion-button slot="end" size="medium" color="tertiary" (click)="download()" [disabled]="!downloaded || type.length < 4">
        <ion-icon slot="start" name="download"></ion-icon>
        <ion-label>Download</ion-label> 
      </ion-button>
      <ion-button slot="end" size="medium" color="tertiary" onclick="window.open('https://github.com/DarkUnknowKnigth/')">
        <ion-icon name="logo-github"  size="medium"></ion-icon>
      </ion-button>
      <ion-button slot="end" size="medium" color="tertiary" (click)="help = true">
        <ion-icon name="help"  size="medium"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-card *ngIf="help">
      <ion-card-header>
        <ion-card-title>Help / Ayuda</ion-card-title>
        <ion-card-subtitle>How to download? / ¿Como descargar?</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
       <ol>
         <li>
           Copy url from youtube / Copia el link del video en youtube 💻
         </li>
         <li>Paste it in our app ! / Pegalo en nuestra app ! ⌨</li>
         <li>Select your download media type / Selecciona el formato de descarga 🔈 📽 </li>
         <li>Download !!! / Descargalo !!! 🔽 </li>
       </ol>
       <ion-item lines="none">
        <ion-button slot="end" size="medium" color="tertiary" (click)="help = false">
          Okey
        </ion-button>
       </ion-item>
      </ion-card-content>
    </ion-card>
    <ion-item-group *ngIf="downloading"> 
      <ion-item lines="none" class="ion-text-center">
        <ion-label>Saving & Converting ...</ion-label>
      </ion-item>
      <ion-item lines="none">
        <img src="/assets/images/loading.gif" alt="loading" class="loading">
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>
