<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
    YT-Download / Account
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Cuenta</ion-title>
    </ion-toolbar>
  </ion-header>

   <ion-card>
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-img [src]="user ? auth.base + user.photo:'/assets/images/song.png'"></ion-img>
      </ion-thumbnail>
      <ion-label> {{user ? user.name : 'Name'}}</ion-label>
    </ion-item>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-button color="tertiary" size="default" (click)="save(img)">
            <ion-icon name="duplicate-outline"></ion-icon>
            <ion-label>Unpload Profile</ion-label>
          </ion-button>
          <ion-label  class="is-mobile">{{data.file && data.file.name? 'Selected' : 'Choose one'}}</ion-label>
          <input type="file" accept="image/*" style="display: none" (change)="onFileChanged($event)"  #img name="file">
        </ion-item> 
        <ion-item>
          <ion-label position="floating">Name</ion-label>
          <ion-input placeholder="Name" [(ngModel)]="data.name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">email</ion-label>
          <ion-input placeholder="email" [(ngModel)]="data.email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-button slot="start" color="tertiary" size="medium" (click)="update(user)">
            <ion-icon name="save" slot="start"></ion-icon>
            <ion-label>Guardar</ion-label> 
          </ion-button>
          <ion-button slot="end" color="danger" size="medium" (click)="logout()">
            <ion-icon name="log-out-outline" slot="start"></ion-icon>
            <ion-label>Logout</ion-label> 
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
   </ion-card>
</ion-content>
