<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
    YT-Download / Account
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Cuenta</ion-title>
    </ion-toolbar>
  </ion-header>

   <ion-card>
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-img [src]="user?'http://localhost:3000'+user.photo:'/assets/images/song.png'"></ion-img>
      </ion-thumbnail>
      <ion-label> {{user ? user.name : 'Name'}}</ion-label>
    </ion-item>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label position="floating">Name</ion-label>
          <ion-input placeholder="Name" value="{{user.name}}"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">email</ion-label>
          <ion-input placeholder="email" value="{{user.email}}"></ion-input>
        </ion-item>
        <ion-item>
          <ion-button slot="start" color="tertiary" size="medium">
            <ion-icon name="save" slot="start"></ion-icon>
            <ion-label>Guardar</ion-label> 
          </ion-button>
          <ion-button slot="end" color="danger" size="medium" (click)="logout()">
            <ion-icon name="log-out-outline" slot="start"></ion-icon>
            <ion-label>Logout</ion-label> 
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
   </ion-card>
</ion-content>
