// valiables
$img-radius: 10px;
// ion-item-group{
//   ion-item:nth-child(1){
//     border-radius: var(--radius);
//   }
//   ion-item:nth-child(2){
//     border-radius: var(--radius-inverse);
//   }
// }
.sexy{
  box-shadow:0px -2px rgba(0, 0, 0, var(--shadow));
  border-radius: 0 30px 0 30px;
  --background: linear-gradient(var(--ion-color-secondary), var(--ion-color-tertiary));
}
ion-searchbar{
  --background: transparent;
}
img{
  border-radius: $img-radius;
}

.song {
  text-align: center;
  width: 100%;
}
.bg-wrapper {
  margin: 5px;
  background-color: #1f1f1f;
}
.player-wrapper {
  display: flex;
  margin: auto;
}
.player {
  display: flex;
  width: 100%;
}
.full {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 30vh !important;
  transform: translateY(60vh);
  padding: 0;
  margin: 0;
}
.cover-player {
  min-height: 100%;
  min-width: 100%;
  overflow: hidden;
  /* Set up proportionate scaling */
  width: 100%;
  height: 100%;
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.controls-player {
  position: relative;
  margin: 0;
  width: 100%;
}
.btn-player {
  width: 30%;
}
.display-player {
  width: 30%;
  margin: 0;
}
.display-list {
  margin: 0;
  width: 60%;
  max-height: 700px;
  overflow-y: auto;
}
.container {
  display: flex;
}
.notMobile {
  display: flex;
}
.touchable:hover {
  cursor: pointer;
}
.mobile {
  display: none;
}
ion-select {
  width: 100%;
  justify-content: center;
}
ion-button{
  --box-shadow:none;
}
// player large
.grid-player{
  padding-bottom: 56px;
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-auto-rows:auto;
  .showcase{
    transform-style: preserve-3d;
    grid-column: 1/13;
    grid-row: 1;
    text-align: center;
    figure{
      ion-img{
        position: relative;
        top: 0;
        left: 35%;
        background: var(--ion-color-dark);
        max-width: 30%;
        max-height: 200px;
        border-radius: 10px;
      }
    }
    ion-img:nth-child(1){
      transform:translate(-50%,100%) scale(0.8) translateZ(-20px);
      -webkit-filter: blur(1px); /* Safari 6.0 - 9.0 */
      filter: blur(1px);

    }
    ion-img:nth-child(2){
      transform: translate(0px) translateZ(0px);
    }
    ion-img:nth-child(3){
      transform:translate(50%,-100%) scale(0.8) translateZ(-20px);
      -webkit-filter: blur(1px); /* Safari 6.0 - 9.0 */
      filter: blur(1px);
    }
  }
  .actions{
    
    grid-row: 2;
    grid-column: 2/12;
    text-align: center;
    align-items: center;
  }
  .progress{
    grid-row: 3;
    grid-column: 2/12;
  }
  .controls{
    grid-row: 4;
    grid-column: 1/13;
    text-align: center;
    ion-button{
      --background:linear-gradient(var(--ion-color-secondary),var(--ion-color-tertiary));;
      --border-radius: 20px;
    }
  }
}
// player in bottom
ion-footer{
  ion-toolbar{
    box-shadow: 0px -2px rgba(0, 0, 0, var(--shadow));
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    max-height: 190px;
    background-color: var(--ion-color-primary);
    transform: translateY(0px);
    border-radius: var(--radius);
    padding-top: 20px;
    padding-bottom: 70px;
    .player-wrapper{
      margin: 0;
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      grid-row: 56px;
      align-items: center;
      .player-img{
        grid-column: 1/3;
        grid-row: 1;
        overflow: hidden;
        margin: auto 0;
        margin-left: 0;
        img{
          width: 100%;
          height: 100%;
        }
      }
      .player-info{
        grid-column: 3/8;
        grid-row: 1;
        width: 100%;
        overflow: hidden;
        text-align: left;
        margin: auto 10px;
        display: inline-block;
        span{
          color: var(--ion-color-light);
          font-size: .8em;
          width: max-content;
          text-overflow: ellipsis;
          display: block;
          font-weight: normal; 
        }
        small{
          color: var(--ion-color-dark);
        }
      }
      .end{
        grid-column: 8;
        grid-row: 1;
        position: relative;
        top: 0;
        right: 0;
      }
    }
    .progress-bar-player{
      height: 2px;
    }
  }
}


// Phones
@media only screen and (max-width: 700px){
  .grid-player{
    .showcase{
      figure{
        ion-img{
          left: 15%;
          max-width: 70%;
        }
      }
    }
  }
  .full {
    position: fixed;
    top:0;
    left: 0;
    height: 40vh !important;
    transform: translateY(40vh);
  }
  .container {
    display: block;
  }
  .cover-player {
    min-height: 100%;
    min-width: 100%;
    width: 170vh;
    /* Set up proportionate scaling */
    height: 100vh;
    transform: translateX(-80vh);
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  .display-list {
    width: 100%;
    margin: 0;
    max-height: 450px;
    overflow-y: scroll;
  }
  .btn-player {
    width: 50%;
  }
  .notMobile {
    display: none;
  }
  .mobile {
    display: flex;
    width: 100%;
  }
  .btn-player {
    width: 100%;
  }
}
// Tablets
@media only screen and (min-width: 700px) and (max-height:880px) {
  .full {
    position: fixed;
    top: -30vh;
    left: 0;
    height: 40vh !important;
  }
  .container {
    display: block;
  }
  .cover-player {
    min-height: 100%;
    min-width: 100%;
    width: 170vh;
    /* Set up proportionate scaling */
    height: 100vh;
    transform: translateX(-80vh);
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  .display-list {
    width: 100%;
    margin: 0;
    max-height: 450px;
    overflow-y: scroll;
  }
  .btn-player {
    width: 50%;
  }
  .notMobile {
    display: none;
  }
  .mobile {
    display: flex;
    width: 100%;
  }
  .btn-player {
    width: 100%;
  }
}
