.song{
    text-align: center;
    width: 100%;
}
.player-wrapper{
    position: sticky;
    bottom: 1;
}
.player{
    display: flex;
    background-color:#121212;
}
.btn-player{
    width: 30%;
}
.display-player{
    width: 40%;
    margin: 0;
}
.display-list{
    margin: 0 ;
    width: 60%;
    max-height: 700px;
    overflow-y:auto;
}
.container{
    display: flex;
}
.notMobile{
    display: flex;
}
.mobile{
    display: none;
}
@media only screen and (max-width:700px){
    .container{
        display: block;
    }
    .display-list{
        width: 100%;
        margin: 0 ;
        max-height: 450px;
        overflow-y: scroll;;
    }
    .btn-player{
        width: 50%;
        color: whitesmoke;
    }
    .notMobile{
        display: none;
    }
    .mobile{
        display: flex;
    }
    .btn-player{
        width: 100%;
    }
}