<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button color="tertiary" (click)="show('songs')">
        Music<ion-icon slot="start" name="musical-notes-outline"></ion-icon>
      </ion-button>
      <ion-button color="tertiary" (click)="show('videos')">
        Video<ion-icon slot="start" name="server-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button *ngIf="showing == 'player'" slot="start" color="tertiary" (click)="showing == 'player' ? showing='songs': showing ='player'">
        List
        <ion-icon name="list" slot="start"></ion-icon>
      </ion-button>
      <ion-button *ngIf="showing != 'player'" slot="start" color="tertiary" (click)="showing == 'player' ? showing='songs': showing ='player'">
        <ion-icon name="play-circle" slot="start"></ion-icon>
        Player
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" #content>
  <ion-header collapse="condense">
    <ion-toolbar color="none">
      <ion-title size="large" color="tertiary">Player</ion-title>
    </ion-toolbar>
  </ion-header>
 
    <ion-row>
      <!-- Audio Player -->
      <!-- <ion-col size="12" size-md *ngIf="showing=='player'" class="notMobile bg-wrapper">
        <div class="player-wrapper">
          <ion-img [src]="playingSong.imagePath" (click)="togglePlayer(isPlaying)" class="touchable cover-player"></ion-img>
          <ion-toolbar class="notMobile controls-player " *ngIf="playingSong.id">
            <ion-title class="ion-text-center ion-margin-top ion-margin-bottom">
              <ion-label style="margin-left:0px; width:400px">{{playingSong.title}} <br> <small>{{playingSong.artist}}</small> </ion-label>
            </ion-title>
            <ion-button class="btn-player" fill="clear" size="large" color="dark" (click)="prev()">
              <ion-icon name="play-skip-back-outline"></ion-icon>
            </ion-button>
            <ion-button class="btn-player" fill="clear" size="large" color="dark" (click)="togglePlayer(isPlaying)" >
              <ion-icon *ngIf="!isPlaying" name="play-outline"></ion-icon>
              <ion-icon *ngIf="isPlaying" name="pause-outline"></ion-icon>
            </ion-button>
            <ion-button class="btn-player" fill="clear" size="large" color="dark" (click)="next()">
              <ion-icon name="play-skip-forward-outline"></ion-icon>
            </ion-button>
            <ion-item>
              <ion-range color="dark" #range [(ngModel)]="progress" max="100" (touchend)="seek()" (mouseup)="seek()"></ion-range>
              <ion-label style="margin-left:10%;">{{displayProgress}}</ion-label>
            </ion-item>
          </ion-toolbar>
        </div>
      </ion-col> -->
      <!-- Audio player mobile -->
      <ion-col size="12" size-md *ngIf="showing=='player'">
        <ion-img [src]="playingSong.id? bigCover() : '/assets/images/song.png'" (click)="togglePlayer(isPlaying)" class="touchable cover-player">
        </ion-img>
        <ion-card class="full" style="opacity: 0.90;">
          <ion-card-header>
            <ion-label><h2>{{playingSong.title}}</h2></ion-label><br>
            <ion-label><small>{{playingSong.artist}}</small></ion-label>
          </ion-card-header>
          <ion-card-content>
              <ion-row class="ion-align-items-center">
                
                <ion-col size="3" class="ion-text-center">
                  <ion-button class="btn-player" fill="clear" color="dark" (click)="prev()">
                    <ion-icon name="play-skip-back-outline"></ion-icon>
                  </ion-button>
                </ion-col>
                <ion-col size="6" class="ion-text-center">
                  <ion-button class="btn-player" fill="clear" size="large" color="dark" (click)="togglePlayer(isPlaying)" >
                    <ion-icon *ngIf="!isPlaying" name="play-outline"></ion-icon>
                    <ion-icon *ngIf="isPlaying" name="pause-outline"></ion-icon>
                  </ion-button>
                </ion-col>
                <ion-col size="3" class="ion-text-center">
                  <ion-button class="btn-player" fill="clear" color="dark" (click)="next()">
                    <ion-icon name="play-skip-forward-outline" style="width: 100%;"></ion-icon>
                  </ion-button>
                </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-label>
                    {{displayProgress}}
                  </ion-label>
                </ion-col>
                <ion-col size="8" class="ion-margin-top">
                  <ion-range color="tertiary" #range [(ngModel)]="progress" max="100" (touchend)="seek()" (mouseup)="seek()"></ion-range>
                </ion-col>
                <ion-col size="2" class="ion-text-center">
                  <ion-label>                    
                    {{playingSong.duration.length == 5? '': '0'}}{{playingSong.duration}}
                  </ion-label>
                </ion-col>
              </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" *ngIf="showing=='songs'">
        <!-- Search bar songs-->
        <ion-list>
          <ion-item lines="input">
            <ion-label position="floating">Search</ion-label>
            <ion-input type="text" placeholder="Search songs" (keyup)="searchSong()" [(ngModel)]="querySong"></ion-input>
          </ion-item>
          <div *ngIf="searchSongs.length > 0">
            <ion-item-group *ngFor="let song of searchSongs">
              <ion-item lines="none" (click)=" playingSong.id === song.id? togglePlayer(isPlaying) : start(song)">
                <ion-thumbnail slot="start">
                  <img [src]="song.imagePath? song.imagePath:'/assets/images/song.png'"  class="list-image-song">
                </ion-thumbnail>
                <ion-label>{{song.artist}} - {{song.title}}</ion-label>
              </ion-item>
              <ion-item lines="full">
                <ion-button slot="end" color="light">
                  <ion-label>{{song.duration}}</ion-label>
                </ion-button>
                <!-- <ion-button slot="end" color="success" size="small"  (click)=" playingSong.id === song.id? togglePlayer(isPlaying) : start(song)">
                  <ion-icon name="play-outline" *ngIf="playingSong.id !== song.id"></ion-icon>
                  <ion-icon name="pause-outline" *ngIf="playingSong.id === song.id"></ion-icon>
                </ion-button> -->
                <ion-button slot="end" color="tertiary" size="small" (click)="download(song,'audio')"><ion-icon name="download-outline"></ion-icon></ion-button>
                <ion-button slot="end" color="danger" size="small" (click)="delete(song)" *ngIf="user.role==666"><ion-icon name="trash-outline"></ion-icon></ion-button>
              </ion-item>
            </ion-item-group>
          </div>
          <ion-item *ngIf="searchSongs.length <= 0 && querySong.length>0">
            No results 🤔🤔
          </ion-item>
          
        </ion-list>
        <!-- List of songs downloaded -->
        <ion-list>
          <ion-item-group *ngFor="let song of songs">
            <ion-item (click)=" playingSong.id === song.id? togglePlayer(isPlaying) : start(song)" class="touchable" lines="none">
              <ion-thumbnail slot="start">
                <img [src]="song.imagePath? song.imagePath:'/assets/images/song.png'"  class="list-image-song">
              </ion-thumbnail>
              <ion-label>{{song.artist}} - {{song.title}}</ion-label>
            </ion-item>
            <ion-item lines="full">
              <ion-button slot="end" color="success">
                <ion-label class="notMobile">On server</ion-label>
                <ion-label class="mobile"><ion-icon name="server-outline"></ion-icon></ion-label>
              </ion-button>
              <ion-button slot="end" color="light">
                <ion-label>{{song.duration}}</ion-label>
              </ion-button>
              <!-- <ion-button slot="end" color="tertiary" size="small"  (click)=" playingSong.id === song.id? togglePlayer(isPlaying) : start(song)">
                <ion-icon name="play-outline" *ngIf="playingSong.id !== song.id"></ion-icon>
                <ion-icon name="pause-outline" *ngIf="playingSong.id === song.id && isPlaying"></ion-icon>
                <ion-icon name="play-outline" *ngIf="playingSong.id === song.id && !isPlaying"></ion-icon>
              </ion-button> -->
              <ion-button slot="end" color="tertiary"(click)="download(song,'audio')"><ion-icon name="download-outline"></ion-icon></ion-button>
              <ion-button slot="end" color="danger" (click)="delete(song)" *ngIf="user.role==666"><ion-icon name="trash-outline"></ion-icon></ion-button>
              
            </ion-item>
          </ion-item-group>
        </ion-list>
      </ion-col>
      <ion-col size="12" *ngIf="showing=='videos'">
        <!-- Search bar video -->
      <ion-list>
        <ion-item lines="full">
          <ion-label position="floating">Search</ion-label>
          <ion-input type="text" placeholder="Search videos" (keyup)="searchVideo()" [(ngModel)]="queryVideo"></ion-input>
        </ion-item>
        <div *ngIf="searchVideos.length > 0">
          <ion-item-group *ngFor="let video of videos" lines="none">
            <ion-item lines="none">
              <ion-thumbnail slot="start">
                <img [src]="video.imagePath? video.imagePath:'/assets/images/video.png'">
              </ion-thumbnail>
              <ion-label>{{video.artist}} - {{video.title}}</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-select placeholder="Resolutions" [(ngModel)]="resolution">
                <ion-select-option *ngFor="let re of video.resolutions" [value]="re">{{re}}p</ion-select-option>
              </ion-select>
              <ion-button slot="end" color="tertiary" size="small" (click)="download(video,'video')"><ion-icon name="download-outline"></ion-icon></ion-button>
            </ion-item>
          </ion-item-group>
        </div>
        <ion-item *ngIf="searchSongs.length <= 0 && queryVideo.length > 1">
          No results 🤔🤔
        </ion-item>
      </ion-list>
        <!-- List of videos downloaded -->
        <ion-list>
          <ion-item-group *ngFor="let video of videos">
            <ion-item class="mobile" lines="none">
              <img [src]="video.imagePath? video.imagePath:'/assets/images/video.png'" style="width: 100%;margin-top: 0.5rem;">
            </ion-item>
            <ion-item lines="none">
              <ion-thumbnail slot="start" class="notMobile">
                <img [src]="video.imagePath? video.imagePath:'/assets/images/video.png'" class="list-image-song">
              </ion-thumbnail>
              <ion-label>{{video.artist}} - {{video.title}}</ion-label>
              <ion-select placeholder="Resolutions" [(ngModel)]="resolution">
                <ion-select-option *ngFor="let re of video.resolutions" [value]="re">{{re}}p</ion-select-option>
              </ion-select>
            </ion-item>
            <!-- <ion-item class="mobile" lines="none">
              <ion-select placeholder="Resolutions" [(ngModel)]="resolution">
                <ion-select-option *ngFor="let re of video.resolutions" [value]="re">{{re}}p</ion-select-option>
              </ion-select>
            </ion-item> -->
            <ion-item lines="full">
              <ion-label color="success" class="notMobile">Avalible to download</ion-label>
              <ion-label color="success" class="mobile"><ion-icon name="server-outline"></ion-icon></ion-label>
              <ion-button slot="end" color="light">
                <ion-label>{{video.duration}}</ion-label>
              </ion-button>
              <ion-button slot="end" color="tertiary" size="small" (click)="download(video,'video')"><ion-icon name="download-outline"></ion-icon></ion-button>
              <ion-button slot="end" color="danger" size="small" (click)="deleteVideo(video)" *ngIf="user.role==666"><ion-icon name="trash-outline"></ion-icon></ion-button>
            </ion-item>
          </ion-item-group>
        </ion-list>
      </ion-col>
    </ion-row>
    <!-- Floating accion buttons shuffle and play -->
    <ion-fab *ngIf="playingSong.id && showing != 'player'" vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="togglePlayer(isPlaying)" color="tertiary">
        <ion-icon *ngIf="!isPlaying" name="play-outline"></ion-icon>
        <ion-icon *ngIf="isPlaying" name="pause-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <ion-fab vertical="bottom" [horizontal]="showing == 'player' ? 'end' : 'start'" slot="fixed">
      <ion-fab-button (click)="random()" color="tertiary">
        <ion-icon name="shuffle-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>
<ion-footer *ngIf="showing !== 'player'" style="margin-left:0; margin-right: 0;">
  <ion-toolbar  *ngIf="playingSong.id" style="margin-left:0; margin-right: 0;">
    <ion-item-sliding>
      <ion-item (click)="show('player')" class="touchable">
        <img [src]="playingSong.imagePath" width="80" height="100%" style="margin: 0 1rem;" class="notMobile">
        <ion-label>{{playingSong.title ? playingSong.title : 'Player 🔈' }}</ion-label>
      </ion-item>
      <ion-item-options side="start">
        <ion-item-option color="tertiary" (click)="prev()">
          <ion-icon name="play-skip-back-outline"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" (click)="seekLess()">
          <ion-icon name="remove-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>
      <ion-item-options side="end">
        <ion-item-option color="success" (click)="seekMore()">
          <ion-icon slot="bottom" name="add-outline"></ion-icon>
        </ion-item-option>
        <ion-item-option color="tertiary" (click)="next()">
          <ion-icon slot="start" name="play-skip-forward-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    <ion-progress-bar color="primary" [value]="progress*0.01" color="tertiary" class="progress-mini"></ion-progress-bar>
  </ion-toolbar>
</ion-footer>
