.song{
    text-align: center;
    width: 100%;
}
.bg-wrapper{
    margin: 5px;
    background-color: #1F1F1F ;
}
.player-wrapper{
    display: flex;
    margin: auto;
}
.player{
    display: flex;
    width: 100%;
    background-color:#121212;
}
.cover-player {
    position: relative;
    margin: 0 1rem;
    width: 100%;
}
.controls-player{
    position: relative;
    margin: 0;
    width: 100%;
}
.btn-player{
    width: 30%;
}
.display-player{
    width: 30%;
    margin: 0;
}
.display-list{
    margin: 0 ;
    width: 60%;
    max-height: 700px;
    overflow-y:auto;
}
.container{
    display: flex;
}
.notMobile{
    display: flex;
}
.touchable:hover{
    cursor: pointer;
}
.mobile{
    display: none;
}
@media only screen and (max-width:700px){
    .container{
        display: block;
    }
    .display-list{
        width: 100%;
        margin: 0 ;
        max-height: 450px;
        overflow-y: scroll;;
    }
    .btn-player{
        width: 50%;
        color: whitesmoke;
    }
    .notMobile{
        display: none;
    }
    .mobile{
        display: flex;
        width: 100%;
    }
    .btn-player{
        width: 100%;
    }
}