<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      YT-Download / Music
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Player</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="player-wrapper">
    <img [src]="playingSong.imagePath" *ngIf="playingSong.id" (click)="togglePlayer(isPlaying)" class="notMobile touchable">
    <ion-toolbar class="notMobile" *ngIf="playingSong.id">
      <ion-title class="ion-text-center ion-margin-top ion-margin-bottom">
        <ion-label style="margin-left:0px; width:400px">{{playingSong.artist}} - {{playingSong.title}}</ion-label>
        <ion-label style="margin-left:10%;">{{displayProgress}}</ion-label>
      </ion-title>
      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <ion-button class="btn-player" fill="clear" size="large" color="dark" (click)="prev()">
              <ion-icon name="play-skip-back-outline"></ion-icon>
            </ion-button>
            <ion-button class="btn-player" fill="clear" size="large" color="dark" (click)="togglePlayer(isPlaying)" >
              <ion-icon *ngIf="!isPlaying" name="play-outline"></ion-icon>
              <ion-icon *ngIf="isPlaying" name="pause-outline"></ion-icon>
            </ion-button>
            <ion-button class="btn-player" fill="clear" size="large" color="dark" (click)="next()">
              <ion-icon name="play-skip-forward-outline"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="4"  class="ion-margin-top">
            <ion-item>
              <ion-range color="dark" #range [(ngModel)]="progress" max="100" (touchend)="seek()" (mouseup)="seek()"></ion-range>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md *ngIf="playingSong.id" class="mobile">
        <ion-card>
          <ion-img [src]="playingSong.imagePath?playingSong.imagePath:'/assets/images/song.png'" (click)="togglePlayer(isPlaying)" class="touchable">
          </ion-img>
          <ion-card-header>
            <ion-card-title>{{playingSong.title}} </ion-card-title>
            <ion-card-subtitle>{{playingSong.artist}}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-grid>
              <ion-row class="ion-align-items-center">
                <ion-col size="3" class="ion-text-center">
                  <ion-button class="btn-player" fill="clear" size="large" color="dark" (click)="prev()">
                    <ion-icon name="play-skip-back-outline"></ion-icon>
                  </ion-button>
                </ion-col>
                <ion-col size="3" class="ion-text-center">
                  <ion-button class="btn-player" fill="clear" size="large" color="dark" (click)="togglePlayer(isPlaying)" >
                    <ion-icon *ngIf="!isPlaying" name="play-outline"></ion-icon>
                    <ion-icon *ngIf="isPlaying" name="pause-outline"></ion-icon>
                  </ion-button>
                </ion-col>
                <ion-col size="3" class="ion-text-center">
                  <ion-button class="btn-player" fill="clear" size="large" color="dark" (click)="next()">
                    <ion-icon name="play-skip-forward-outline"></ion-icon>
                  </ion-button>
                </ion-col>
                <ion-col size="3" class="ion-text-center">
                  {{displayProgress}}
                </ion-col>
                <ion-col size="12" class="ion-margin-top">
                  <ion-item>
                    <ion-range color="dark" #range [(ngModel)]="progress" max="100" (touchend)="seek()" (mouseup)="seek()"></ion-range>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12">
        <ion-list>
          <ion-list-header class="ion-text-center"><h1>Downloaded songs</h1></ion-list-header>
          <ion-item>
            <ion-label position="floating">Buscador</ion-label>
            <ion-input type="text" placeholder="Busca una cancion"></ion-input>
          </ion-item>
          <ion-item-group *ngFor="let song of songs">
            <ion-item (click)="start(song)" class="touchable">
              <ion-thumbnail slot="start">
                <img [src]="song.imagePath? song.imagePath:'/assets/images/song.png'">
              </ion-thumbnail>
              <ion-label>{{song.artist}} - {{song.title}}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label color="success" class="notMobile">On server</ion-label>
              <ion-label color="success" class="mobile"><ion-icon name="server-outline"></ion-icon></ion-label>
              <ion-button slot="end" color="success">
                <ion-label>{{song.duration}}</ion-label>
              </ion-button>
              <ion-button slot="end" color="light" size="small"  (click)="start(song)"><ion-icon name="play-outline"></ion-icon></ion-button>
              <ion-button slot="end" color="light" size="small" (click)="download(song,'audio')"><ion-icon name="download-outline"></ion-icon></ion-button>
              <ion-button slot="end" color="danger" size="small" (click)="delete(song)"><ion-icon name="trash-outline"></ion-icon></ion-button>
            </ion-item>
          </ion-item-group>
        </ion-list>
      </ion-col>
      <ion-col size="12">
        <ion-list>
          <ion-list-header class="ion-text-center"><h1>Active Videos</h1></ion-list-header>
          <ion-item>
            <ion-label position="floating">Buscador</ion-label>
            <ion-input type="text" placeholder="Busca una cancion"></ion-input>
          </ion-item>
          <ion-item-group *ngFor="let video of videos">
            <ion-item class="mobile">
              <img [src]="video.imagePath? video.imagePath:'/assets/images/video.png'">
            </ion-item>
            <ion-item>
              <ion-thumbnail slot="start" class="notMobile">
                <img [src]="video.imagePath? video.imagePath:'/assets/images/video.png'">
              </ion-thumbnail>
              <ion-label>{{video.artist}} - {{video.title}}</ion-label>
              <ion-select placeholder="Resolutions" [(ngModel)]="resolution" class="notMobile">
                <ion-select-option *ngFor="let re of video.resolutions" [value]="re">{{re}}p</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item class="mobile">
              <ion-select placeholder="Resolutions" [(ngModel)]="resolution">
                <ion-select-option *ngFor="let re of video.resolutions" [value]="re">{{re}}p</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label color="success" class="notMobile">Avalible to download</ion-label>
              <ion-label color="success" class="mobile"><ion-icon name="server-outline"></ion-icon></ion-label>
              <ion-button slot="end" color="success">
                <ion-label>{{video.duration}}</ion-label>
              </ion-button>
              <ion-button slot="end" color="light" size="small" (click)="download(video,'video')"><ion-icon name="download-outline"></ion-icon></ion-button>
              <ion-button slot="end" color="danger" size="small" (click)="deleteVideo(video)"><ion-icon name="trash-outline"></ion-icon></ion-button>
            </ion-item>
          </ion-item-group>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
